# 기계학습 입문 : Review 1(Diabetes)

앞서 진행했던 입문 문제들을 복습하는 차원에서 다음 문제들을 풀어 Github에 업로드하여 주세요.</br>
**주의** : 언급하는 결과만을 구현하면 되며, 정해진 정답은 없습니다.

## 1. 데이터 분석
### 1-1. 데이터 읽어오기

훈련데이터 `train.csv`파일, 시험 데이터 `test.csv`파일, 제출 파일 `sample_submission.csv`파일을 각각 불러와 적절한 변수에 할당시켜 주세요.
* 이때 불러와서 변수에 할당되는 객체가 무엇인지 코드 셀 아래에 적어주세요.

In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

### 1-2. 데이터 확인
* 훈련 데이터의 상위 혹은 하위 5개의 행(row)을 확인해보세요.
* 확인해 보았다면, 각 열(column)이 무엇을 의미하는 지 적어보세요.

In [2]:
train.head(5)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,TRAIN_000,4,103,60,33,192,24.0,0.966,33,0
1,TRAIN_001,10,133,68,0,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,0,39.4,0.236,38,0
3,TRAIN_003,1,119,88,41,170,45.3,0.507,26,0
4,TRAIN_004,1,114,66,36,200,38.1,0.289,21,0

* Pregnancies : 임신횟수

## 1-3. 간단한 정보 및 통계치(기술통계량) 확인
1. 훈련 데이터와 시험 데이터의 결측치 및 자료형을 간단하게 확인해주세요. 결과에 대한 분석을 간단하게 적어주세요.
2. 훈련 데이터와 시험 데이터의 간단한 통계치를 확인하고, 결과에 대한 본인의 생각을 적어주세요.

In [3]:
# 훈련데이터의 info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        652 non-null    object
 1   Pregnancies               652 non-null    int64
 2   Glucose                   652 non-null    int64
 3   BloodPressure             652 non-null    int64
 4   SkinThickness             652 non-null    int64
 5   Insulin                   652 non-null    int64
 6   BMI                       652 non-null    float64
 7   DiabetesPedigreeFunction  652 non-null    float64
 8   Age                       652 non-null    int64
 9   Outcome                   652 non-null    int64
dtypes: float64(2), int64(7), object(1)
memory usage: 51.1+ KB

In [4]:
# 시험데이터의 info
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        116 non-null    object
 1   Pregnancies               116 non-null    int64
 2   Glucose                   116 non-null    int64
 3   BloodPressure             116 non-null    int64
 4   SkinThickness             116 non-null    int64
 5   Insulin                   116 non-null    int64
 6   BMI                       116 non-null    float64
 7   DiabetesPedigreeFunction  116 non-null    float64
 8   Age                       116 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 8.3+ KB

In [5]:
# 훈련데이터의 기술통계량
train.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000
mean,3.923313,120.946319,68.895706,20.440184,80.878834,31.947393,0.465133,33.510736,0.349693
std,3.327529,31.992394,19.183843,15.918604,117.748315,7.460975,0.329496,11.824817,0.477239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.084000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,27.400000,0.238750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,34.000000,32.000000,0.363000,29.500000,0.000000
75%,6.000000,142.000000,80.000000,32.000000,126.000000,36.425000,0.607750,41.000000,1.000000
max,15.000000,199.000000,114.000000,99.000000,846.000000,57.300000,2.329000,81.000000,1.000000

In [6]:
# 시험데이터의 기술통계량
test.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,3.405172,120.603448,70.284483,21.077586,73.732759,32.246552,0.509776,31.724138
std,3.580086,31.998065,20.341350,16.198846,100.249199,9.969182,0.340413,11.320306
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,100.000000,62.000000,0.000000,0.000000,26.450000,0.260750,24.000000
50%,2.000000,113.000000,72.000000,22.500000,20.500000,32.400000,0.425000,27.000000
75%,6.000000,133.500000,82.000000,33.000000,131.250000,37.525000,0.683000,38.000000
max,17.000000,197.000000,122.000000,63.000000,545.000000,67.100000,2.420000,67.000000

## 2. 데이터 전처리
### 2-1. 행과 열 데이터 읽어와보기.(인덱싱과 슬라이싱)
* 훈련 데이터의 10번째부터 29번째까지 행(row) 데이터 읽어봐주세요.

In [7]:
train.iloc[9:29]

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,TRAIN_009,1,167,74,17,144,23.4,0.447,33,1
10,TRAIN_010,4,145,82,18,0,32.5,0.235,70,1
11,TRAIN_011,8,124,76,24,600,28.7,0.687,52,1
12,TRAIN_012,4,184,78,39,277,37.0,0.264,31,1
13,TRAIN_013,6,134,70,23,130,35.4,0.542,29,1
14,TRAIN_014,9,134,74,33,60,25.9,0.460,81,0
15,TRAIN_015,5,103,108,37,0,39.2,0.305,65,0
16,TRAIN_016,0,113,76,0,0,33.3,0.278,23,1
17,TRAIN_017,2,155,74,17,96,26.6,0.433,27,1
18,TRAIN_018,5,77,82,41,42,35.8,0.156,35,0
19,TRAIN_019,4,95,64,0,0,32.0,0.161,31,1
20,TRAIN_020,2,112,75,32,0,35.7,0.148,21,0
21,TRAIN_021,10,94,72,18,0,23.1,0.595,56,0
22,TRAIN_022,6,154,78,41,140,46.1,0.571,27,0
23,TRAIN_023,4,92,80,0,0,42.2,0.237,29,0
24,TRAIN_024,1,117,60,23,106,33.8,0.466,27,0
25,TRAIN_025,1,149,68,29,127,29.3,0.349,42,1
26,TRAIN_026,7,105,0,0,0,0.0,0.305,24,0
27,TRAIN_027,5,111,72,28,0,23.9,0.407,27,0
28,TRAIN_028,6,147,80,0,0,29.5,0.178,50,1

1. 훈련 데이터의 78번째부터 128번째까지 행(row) 데이터
2. 1번에서 가져온 데이터의 `SkinThickness`와 `Insulin` 열(column) 데이터

In [8]:
train.iloc[77:128][['SkinThickness', 'Insulin']]

     SkinThickness  Insulin
77               0        0
78              35        0
79              20        0
80              32      274
81              18       76
82              22        0
83              50      204
84               0        0
85              25      184
86              23      115
87              23      170
88              36        0
89              21      158
90              33      215
91               0        0
92               0        0
93               0        0
94              29      126
95               0        0
96              37      182
97               0        0
98              29      325
99              28        0
100             26        0
101             46      180
102              0        0
103             23       76
104              7      258
105              0        0
106             26       71
107             34      300
108             37      120
109              0        0
110             18       76
111              0        0
112             14      148
113             15        0
114             37      140
115             17      265
116             36      245
117             27      540
118             32        0
119             33      146
120             32       88
121              0        0
122             19       25
123             18       40
124             46      231
125              0        0
126             40       94
127             10       85

* 훈련 데이터의 100번째부터 200번째까지 행, 'BMI'열의 데이터를 2개씩 건너뛰며 역순으로 출력

In [9]:
train.iloc[199:98:-2]

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
199,TRAIN_199,3,111,56,39,0,30.1,0.557,30,0
197,TRAIN_197,8,151,78,32,210,42.9,0.516,36,1
195,TRAIN_195,7,97,76,32,91,40.9,0.871,32,1
193,TRAIN_193,1,131,64,14,415,23.7,0.389,21,0
191,TRAIN_191,10,68,106,23,49,35.5,0.285,47,0
189,TRAIN_189,6,125,68,30,120,30.0,0.464,32,0
187,TRAIN_187,3,142,80,15,0,32.4,0.200,63,0
185,TRAIN_185,0,94,70,27,115,43.5,0.347,21,0
183,TRAIN_183,0,119,66,27,0,38.8,0.259,22,0
181,TRAIN_181,4,117,62,12,0,29.7,0.380,30,1
179,TRAIN_179,4,173,70,14,168,29.7,0.361,33,1
177,TRAIN_177,6,108,44,20,130,24.0,0.813,35,0
175,TRAIN_175,7,109,80,31,0,35.9,1.127,43,1
173,TRAIN_173,3,124,80,33,130,33.2,0.305,26,0
171,TRAIN_171,1,71,62,0,0,21.8,0.416,26,0
169,TRAIN_169,8,105,100,36,0,43.3,0.239,45,1
167,TRAIN_167,3,96,78,39,0,37.3,0.238,40,0
165,TRAIN_165,8,100,76,0,0,38.7,0.190,42,0
163,TRAIN_163,1,199,76,43,0,42.9,1.394,22,1
161,TRAIN_161,13,158,114,0,0,42.3,0.257,44,1
159,TRAIN_159,2,117,90,19,71,25.2,0.313,21,0
157,TRAIN_157,1,126,60,0,0,30.1,0.349,47,1
155,TRAIN_155,0,100,88,60,110,46.8,0.962,31,0
153,TRAIN_153,0,124,70,20,0,27.4,0.254,36,1
151,TRAIN_151,10,115,0,0,0,0.0,0.261,30,1
149,TRAIN_149,8,186,90,35,225,34.5,0.423,37,1
147,TRAIN_147,12,140,85,33,0,37.4,0.244,41,0
145,TRAIN_145,4,151,90,38,0,29.7,0.294,36,0
143,TRAIN_143,2,175,88,0,0,22.9,0.326,22,0
141,TRAIN_141,0,107,60,25,0,26.4,0.133,23,0
139,TRAIN_139,0,91,68,32,210,39.9,0.381,25,0
137,TRAIN_137,2,122,60,18,106,29.8,0.717,22,0
135,TRAIN_135,3,80,0,0,0,0.0,0.174,22,0
133,TRAIN_133,1,103,80,11,82,19.4,0.491,22,0
131,TRAIN_131,1,112,80,45,132,34.8,0.217,24,0
129,TRAIN_129,1,193,50,16,375,25.9,0.655,24,0
127,TRAIN_127,3,113,50,10,85,29.5,0.626,25,0
125,TRAIN_125,9,106,52,0,0,31.2,0.380,42,0
123,TRAIN_123,1,81,72,18,40,26.6,0.283,24,0
121,TRAIN_121,1,151,60,0,0,26.1,0.179,22,0
119,TRAIN_119,11,143,94,33,146,36.6,0.254,51,1
117,TRAIN_117,2,155,52,27,540,38.7,0.240,25,1
115,TRAIN_115,2,101,58,17,265,24.2,0.614,23,0
113,TRAIN_113,9,184,85,15,0,30.0,1.213,49,1
111,TRAIN_111,6,85,78,0,0,31.2,0.382,42,0
109,TRAIN_109,4,122,68,0,0,35.0,0.394,29,0
107,TRAIN_107,8,176,90,34,300,33.7,0.467,58,1
105,TRAIN_105,9,91,68,0,0,24.2,0.200,58,0
103,TRAIN_103,2,84,50,23,76,30.4,0.968,21,0
101,TRAIN_101,1,144,82,46,180,46.1,0.335,46,1
99,TRAIN_099,6,105,80,28,0,32.5,0.878,26,0

* 훈련 데이터에서 `Glucose` 열의 값이 10 이상이며, `Glucose` 열의 값이 160 미만인 행

In [10]:
# 비트 논리 연산자를 사용하여 2개 이상의 복합 조건을 건 인덱싱
train[(train['Glucose'] >= 10) & (train['Glucose'] < 160)]

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,TRAIN_000,4,103,60,33,192,24.0,0.966,33,0
1,TRAIN_001,10,133,68,0,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,0,39.4,0.236,38,0
3,TRAIN_003,1,119,88,41,170,45.3,0.507,26,0
4,TRAIN_004,1,114,66,36,200,38.1,0.289,21,0
...,...,...,...,...,...,...,...,...,...,...
647,TRAIN_647,1,91,64,24,0,29.2,0.192,21,0
648,TRAIN_648,10,122,68,0,0,31.2,0.258,41,0
649,TRAIN_649,8,84,74,31,0,38.3,0.457,39,0
650,TRAIN_650,2,81,72,15,76,30.1,0.547,25,0
651,TRAIN_651,1,107,68,19,0,26.5,0.165,24,0

* 훈련 데이터에서 `Insulin` 열의 값이 0인 행, `Insulin`열을 제외하고 모든 열 출력

In [11]:
train.loc[train['Insulin'] == 0, train.columns != 'Insulin']

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
1,TRAIN_001,10,133,68,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,39.4,0.236,38,0
8,TRAIN_008,1,124,60,32,35.8,0.514,21,0
10,TRAIN_010,4,145,82,18,32.5,0.235,70,1
15,TRAIN_015,5,103,108,37,39.2,0.305,65,0
...,...,...,...,...,...,...,...,...,...
646,TRAIN_646,6,166,74,0,26.6,0.304,66,0
647,TRAIN_647,1,91,64,24,29.2,0.192,21,0
648,TRAIN_648,10,122,68,0,31.2,0.258,41,0
649,TRAIN_649,8,84,74,31,38.3,0.457,39,0
651,TRAIN_651,1,107,68,19,26.5,0.165,24,0

* 훈련 데이터에서 `BMI`열의 값이 20이상 혹은 40이하인 행의 `BloodPressure`와 `Insulin`열 출력

In [12]:
train.loc[(train['BMI'] <= 20) | (train['BMI'] >= 40), ['BloodPressure', 'Insulin']]

     BloodPressure  Insulin
3               88      170
22              78      140
23              80        0
26               0        0
32              70      271
..             ...      ...
631             78       48
635             88      510
636            110      240
638             62      480
640             92        0

[99 rows x 2 columns]

### 2-2. 열 삭제
* 학습에 영향을 미치지 못하는 것으로 **판단되는** `ID` 열 삭제

In [13]:
# 훈련데이터에서 ID열 삭제
train.drop('ID', axis=1, inplace=True)

In [14]:
# 시험데이터에서 ID열 삭제
test.drop('ID', axis=1, inplace=True)

In [15]:
test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,5,112,66,0,0,37.8,0.261,41
1,3,107,62,13,48,22.9,0.678,23
2,3,113,44,13,0,22.4,0.140,22
3,6,190,92,0,0,35.5,0.278,66
4,1,107,72,30,82,30.8,0.821,24
...,...,...,...,...,...,...,...,...
111,10,111,70,27,0,27.5,0.141,40
112,1,119,54,13,50,22.3,0.205,24
113,3,187,70,22,200,36.4,0.408,36
114,3,100,68,23,81,31.6,0.949,28
115,2,84,0,0,0,0.0,0.304,21

### 2-3 연속형 데이터의 범주화(BloodPressure)
* `BloodPressure`의 열(column) 값을 4개 구간으로 분류
    - 0~20 : A
    - 21~30 : B
    - 31~40 : C
    - 41~max : D
* 분류된 값들을 `bloodpressure_cut`이라는 열을 생성하여 값을 할당

In [16]:
train['BloodPressure']

0      60
1      68
2      78
3      88
4      66
       ..
647    64
648    68
649    74
650    72
651    68
Name: BloodPressure, Length: 652, dtype: int64

In [17]:
# BloodPressure열의 모든 원소에 동일하게 적용시킬 함수 정의
def bloodpressure_cut(x):
  result = ''
  if 0 <= x < 20:
    result = 'A'
  elif x < 30:
    result = 'B'
  elif x < 40:
    result = 'C'
  else:
    result = 'D'

  return result

In [18]:
# map메서드를 사용하여 범주화된 특징 bloodpressure_cut 특징 정의
train['bloodpressure_cut'] = train['BloodPressure'].map(bloodpressure_cut)
test['bloodpressure_cut'] = test['BloodPressure'].map(bloodpressure_cut)

### 2-4. 연속형 데이터의 범주화2(Glucose)
* `Glucose` 피처에 분위수 기준으로 4가지로 분류하기
* ['normal', 'suspected1', 'suspected2', 'danger']

In [19]:
# 2-3과 같이 map 혹은 apply 메서드를 사용하여서 구현하여 보세요!

### 2-5. 표준화 및 인코딩
* 수치형 데이터 : 표준화
* 범주형 데이터 : 레이블인코딩

In [20]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
# 수치형
con_features = ['Glucose', 'BloodPressure', 'BMI']
scaler = StandardScaler()
train[con_features] = scaler.fit_transform(train[con_features])
test[con_features] = scaler.transform(test[con_features])

C:\Users\alstn\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [21]:
train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,bloodpressure_cut
0,4,-0.561386,-0.464064,33,192,-1.066013,0.966,33,0,D
1,10,0.377056,-0.046726,0,0,-0.663612,0.245,36,0,D
2,4,-0.279854,0.474946,40,0,0.999645,0.236,38,0,D
3,1,-0.060884,0.996618,41,170,1.791034,0.507,26,0,D
4,1,-0.217291,-0.151061,36,200,0.825272,0.289,21,0,D

In [22]:
test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,bloodpressure_cut
0,5,-0.279854,-0.151061,0,0,0.785032,0.261,41,D
1,3,-0.436261,-0.359730,13,48,-1.213560,0.678,23,D
2,3,-0.248572,-1.298740,13,0,-1.280626,0.140,22,D
3,6,2.160098,1.205287,0,0,0.476524,0.278,66,D
4,1,-0.436261,0.161942,30,82,-0.153904,0.821,24,D

정규화가 잘 진행되었습니다.

In [23]:
# 범주형
cat_features = ['bloodpressure_cut']
for feat in cat_features:
  scaler = LabelEncoder()
  train[feat] = scaler.fit_transform(train[feat])
  test[feat] = scaler.transform(test[feat])

In [24]:
train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,bloodpressure_cut
0,4,-0.561386,-0.464064,33,192,-1.066013,0.966,33,0,3
1,10,0.377056,-0.046726,0,0,-0.663612,0.245,36,0,3
2,4,-0.279854,0.474946,40,0,0.999645,0.236,38,0,3
3,1,-0.060884,0.996618,41,170,1.791034,0.507,26,0,3
4,1,-0.217291,-0.151061,36,200,0.825272,0.289,21,0,3

In [25]:
test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,bloodpressure_cut
0,5,-0.279854,-0.151061,0,0,0.785032,0.261,41,3
1,3,-0.436261,-0.359730,13,48,-1.213560,0.678,23,3
2,3,-0.248572,-1.298740,13,0,-1.280626,0.140,22,3
3,6,2.160098,1.205287,0,0,0.476524,0.278,66,3
4,1,-0.436261,0.161942,30,82,-0.153904,0.821,24,3

In [26]:
test_labels = np.array(sample_submission.iloc[:, 1])

test_labels = test_labels.reshape(-1, 1)

In [66]:
train_labels = np.array(train['Outcome'])

train_labels = train_labels.reshape(-1, 1)

In [34]:
test_input = np.array(test)

## 3. 모델링

train의 Outcome을 제외한 나머지 데이터 학습에 사용하면됨 Outcome의 인덱스는 8
(Pregnancies 0, SkinThickness 3, Insulin 4, Age 7) 해당부분 스케일조정 필요

In [27]:
from tensorflow.keras import layers, models, optimizers, utils

WARNING:tensorflow:From C:\Users\alstn\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [28]:
input_layer = layers.Input((9))

x = layers.Dense(10, activation='relu')(input_layer)
x = layers.Dense(10, activation='relu')(x)
output_layer = layers.Dense(1)(x)
model1 = models.Model(input_layer, output_layer)

model1.summary()

WARNING:tensorflow:From C:\Users\alstn\anaconda3\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 9)]               0

 dense (Dense)               (None, 10)                100

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
x = np.array(train.iloc[:, :8])

In [52]:
y = np.array(train.iloc[:, -1]).reshape(-1, 1)

In [58]:
train_input = np.hstack((x, y))

In [69]:
train_input.shape, train_labels.shape, test_input.shape, test_labels.shape

((652, 9), (652, 1), (116, 9), (116, 1))

In [70]:
opt = optimizers.Adam(learning_rate=0.0005)
model1.compile(
    loss="mae", optimizer=opt, metrics=["accuracy"]
)

In [71]:
model1.fit(train_input, train_labels, batch_size=32, epochs=50, verbose=2 ,shuffle=True)

Epoch 1/50
WARNING:tensorflow:From C:\Users\alstn\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\alstn\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

21/21 - 1s - loss: 3.4829 - accuracy: 0.3788 - 774ms/epoch - 37ms/step
Epoch 2/50
21/21 - 0s - loss: 2.2883 - accuracy: 0.4402 - 31ms/epoch - 1ms/step
Epoch 3/50
21/21 - 0s - loss: 1.6777 - accuracy: 0.4571 - 23ms/epoch - 1ms/step
Epoch 4/50
21/21 - 0s - loss: 1.2491 - accuracy: 0.4862 - 24ms/epoch - 1ms/step
Epoch 5/50
21/21 - 0s - loss: 1.0927 - accuracy: 0.5261 - 25ms/epoch - 1ms/step
Epoch 6/50
21/21 - 0s - loss: 1.0305 - accuracy: 0.5506 - 26ms/epoch - 1ms/step
Epoch 7/50
21/21 - 0s - loss: 0.9833 - accuracy: 0.5598 - 23ms/epoch - 1ms/step
Epoch 8/50
21/21 - 0s - loss: 0.9248 - accuracy: 0.5537 - 23ms/epoch - 1ms/step
Epoch 9/50
21/21 - 0s - loss: 0.8877 - accuracy: 0.5583 - 28ms/epoch - 1ms/step
Epoch 10/50
21/21 - 0s - loss: 0.8574 - accuracy: 0.5660 - 24ms/epoch - 1ms/step
Epoch 11/50
21/21 - 0s - loss: 0.8231 - accuracy: 0.5506 - 25ms/epoch - 1ms/step
Epoch 12/50
21/21 - 0s - loss: 0.7895 - accuracy: 0.5690 - 25ms/epoch - 1ms/step
Epoch 13/50
21/21 - 0s - loss: 0.7639 - accuracy: 0.5690 - 27ms/epoch - 1ms/step
Epoch 14/50
21/21 - 0s - loss: 0.7469 - accuracy: 0.5905 - 25ms/epoch - 1ms/step
Epoch 15/50
21/21 - 0s - loss: 0.7135 - accuracy: 0.5905 - 25ms/epoch - 1ms/step
Epoch 16/50
21/21 - 0s - loss: 0.6978 - accuracy: 0.5844 - 22ms/epoch - 1ms/step
Epoch 17/50
21/21 - 0s - loss: 0.6860 - accuracy: 0.6074 - 21ms/epoch - 996us/step
Epoch 18/50
21/21 - 0s - loss: 0.6606 - accuracy: 0.5997 - 24ms/epoch - 1ms/step
Epoch 19/50
21/21 - 0s - loss: 0.6523 - accuracy: 0.6074 - 20ms/epoch - 951us/step
Epoch 20/50
21/21 - 0s - loss: 0.6264 - accuracy: 0.6196 - 23ms/epoch - 1ms/step
Epoch 21/50
21/21 - 0s - loss: 0.6183 - accuracy: 0.6166 - 24ms/epoch - 1ms/step
Epoch 22/50
21/21 - 0s - loss: 0.5991 - accuracy: 0.6258 - 25ms/epoch - 1ms/step
Epoch 23/50
21/21 - 0s - loss: 0.5943 - accuracy: 0.6196 - 24ms/epoch - 1ms/step
Epoch 24/50
21/21 - 0s - loss: 0.5828 - accuracy: 0.6411 - 27ms/epoch - 1ms/step
Epoch 25/50
21/21 - 0s - loss: 0.5654 - accuracy: 0.6457 - 24ms/epoch - 1ms/step
Epoch 26/50
21/21 - 0s - loss: 0.5527 - accuracy: 0.6564 - 23ms/epoch - 1ms/step
Epoch 27/50
21/21 - 0s - loss: 0.5452 - accuracy: 0.6442 - 23ms/epoch - 1ms/step
Epoch 28/50
21/21 - 0s - loss: 0.5340 - accuracy: 0.6472 - 21ms/epoch - 1ms/step
Epoch 29/50
21/21 - 0s - loss: 0.5367 - accuracy: 0.6503 - 23ms/epoch - 1ms/step
Epoch 30/50
21/21 - 0s - loss: 0.5148 - accuracy: 0.6626 - 24ms/epoch - 1ms/step
Epoch 31/50
21/21 - 0s - loss: 0.5367 - accuracy: 0.6488 - 24ms/epoch - 1ms/step
Epoch 32/50
21/21 - 0s - loss: 0.4973 - accuracy: 0.6610 - 21ms/epoch - 997us/step
Epoch 33/50
21/21 - 0s - loss: 0.4887 - accuracy: 0.6626 - 23ms/epoch - 1ms/step
Epoch 34/50
21/21 - 0s - loss: 0.4851 - accuracy: 0.6610 - 22ms/epoch - 1ms/step
Epoch 35/50
21/21 - 0s - loss: 0.4858 - accuracy: 0.6764 - 21ms/epoch - 999us/step
Epoch 36/50
21/21 - 0s - loss: 0.4669 - accuracy: 0.6626 - 23ms/epoch - 1ms/step
Epoch 37/50
21/21 - 0s - loss: 0.4624 - accuracy: 0.6779 - 24ms/epoch - 1ms/step
Epoch 38/50
21/21 - 0s - loss: 0.4519 - accuracy: 0.6825 - 23ms/epoch - 1ms/step
Epoch 39/50
21/21 - 0s - loss: 0.4488 - accuracy: 0.6733 - 23ms/epoch - 1ms/step
Epoch 40/50
21/21 - 0s - loss: 0.4360 - accuracy: 0.6748 - 22ms/epoch - 1ms/step
Epoch 41/50
21/21 - 0s - loss: 0.4395 - accuracy: 0.6825 - 25ms/epoch - 1ms/step
Epoch 42/50
21/21 - 0s - loss: 0.4239 - accuracy: 0.6825 - 22ms/epoch - 1ms/step
Epoch 43/50
21/21 - 0s - loss: 0.4177 - accuracy: 0.6856 - 23ms/epoch - 1ms/step
Epoch 44/50
21/21 - 0s - loss: 0.4444 - accuracy: 0.6748 - 22ms/epoch - 1ms/step
Epoch 45/50
21/21 - 0s - loss: 0.4040 - accuracy: 0.6871 - 25ms/epoch - 1ms/step
Epoch 46/50
21/21 - 0s - loss: 0.4031 - accuracy: 0.6856 - 22ms/epoch - 1ms/step
Epoch 47/50
21/21 - 0s - loss: 0.4014 - accuracy: 0.6963 - 26ms/epoch - 1ms/step
Epoch 48/50
21/21 - 0s - loss: 0.4109 - accuracy: 0.6979 - 27ms/epoch - 1ms/step
Epoch 49/50
21/21 - 0s - loss: 0.4012 - accuracy: 0.6902 - 25ms/epoch - 1ms/step
Epoch 50/50
21/21 - 0s - loss: 0.3825 - accuracy: 0.7009 - 24ms/epoch - 1ms/step